In [1]:
import geopandas

In [2]:
s = geopandas.read_file('solar_PVOUT.json')

In [4]:
s.head()

   PVOUT_kWh_kWp   state                                           geometry
0           1090  Alaska  POLYGON ((-166.96667 59.98333, -166.96667 59.9...
1           1100  Alaska  POLYGON ((-166.77500 59.98333, -166.77500 59.9...
2           1080  Alaska  POLYGON ((-166.61667 59.98333, -166.61667 59.9...
3           1080  Alaska  POLYGON ((-166.30000 59.98333, -166.30000 59.9...
4           1070  Alaska  POLYGON ((-166.26667 59.98333, -166.26667 59.9...

In [5]:
new = s[s['state']=='Ohio']

In [6]:
new.head()

,PVOUT_kWh_kWp,state,geometry
1413091,1300,Ohio,"POLYGON ((-80.58333 41.95833, -80.58333 41.950..."
1413092,1290,Ohio,"POLYGON ((-80.78333 41.91667, -80.78333 41.908..."
1413093,1300,Ohio,"POLYGON ((-80.90000 41.86667, -80.90000 41.858..."
1413094,1300,Ohio,"POLYGON ((-80.75833 41.85833, -80.75833 41.850..."
1413095,1310,Ohio,"POLYGON ((-81.08333 41.82500, -81.08333 41.816..."

In [16]:
ohio_solar = new.to_file("ohio_solar.json", driver="GeoJSON")

In [15]:
new = new.rename(columns={"PVOUT_kWh_kWp": "capacity_mw"})
new.head()

         capacity_mw state                                           geometry
1413091         1300  Ohio  POLYGON ((-80.58333 41.95833, -80.58333 41.950...
1413092         1290  Ohio  POLYGON ((-80.78333 41.91667, -80.78333 41.908...
1413093         1300  Ohio  POLYGON ((-80.90000 41.86667, -80.90000 41.858...
1413094         1300  Ohio  POLYGON ((-80.75833 41.85833, -80.75833 41.850...
1413095         1310  Ohio  POLYGON ((-81.08333 41.82500, -81.08333 41.816...

In [27]:
sample = s.head(5000)
sample = sample.rename(columns={"PVOUT_kWh_kWp": "capacity_mw"})

sample.head()

   capacity_mw   state                                           geometry
0         1090  Alaska  POLYGON ((-166.96667 59.98333, -166.96667 59.9...
1         1100  Alaska  POLYGON ((-166.77500 59.98333, -166.77500 59.9...
2         1080  Alaska  POLYGON ((-166.61667 59.98333, -166.61667 59.9...
3         1080  Alaska  POLYGON ((-166.30000 59.98333, -166.30000 59.9...
4         1070  Alaska  POLYGON ((-166.26667 59.98333, -166.26667 59.9...